.carousel-card {
  .slick-prev,
  .slick-next {
    color: black;
    height: 25px;
    width: 25px;
    
    &.slick-disabled {
      opacity: 0.25
    }
    
  }
  

  .slick-track {
    @media (min-width: 480px) {
      display: flex !important;
    }
  }

  .slick-list,
  .slick-slide {
    height: inherit !important;
  }

  .slick-slide > div:first-child {
    height: 100%;
    display: flex;
  }

  .carousel-card__box {
    display: flex !important;
  }
}
