.history-carousel .slick-arrow {
  &:before,
  &:after {
    color: #4dbbee !important;
    @media (min-width: 600px) {
      font-size: 30px;
    }
  }

  @media (min-width: 600px) {
    &.slick-next {
      height: 30px;
      width: 30px;
      right: -30px;
    }

    &.slick-prev {
      height: 30px;
      width: 30px;
      left: -30px;
    }
  }
}
